<section class="pls-intro-text">
    <p class="pls-text pls-text-mob">
        You've just been Partylisted
    </p>
    <span class="pls-slogan">For the ultimate clubbing experience</span>
    <button type="button" class="pls-button pls-button-nice">Proceed <span class="glyphicon glyphicon-glass glyph-glass"></span></button>
</section>

<section class="pls-iphone pls-iphone-slide-in">
    <div class="pls-iphone-wrapper">
        <img class="pls-iphone-status-bar" src="../images/status-bar.png" width="256.25px">
        <ul class="pls-iphone-bg pls-iphone-canvas">
            <li class="iphone-bg-3"><img src="../images/slide-3.png" height="440px"></li>
        </ul>
    </div>
</section><!-- end pls-iphone -->

<footer class="pls-footer">
    <nav class="pls-footer-nav pls-footer-nav-site">
        <ul>
            <li class="pls-footer-static-link">
            	<a href="/" target="top"><img class="logo" src="../images/logo.png" width="154.5px"></a>
            </li>
        </ul>
    </nav>
</footer>

