<div class="pls-counter">
    <span class="pls-inc pls-active" id="plc-inc-1">1</span>
    <span class="pls-inc" id="plc-inc-2">2</span>
    <span class="pls-inc" id="plc-inc-3">3</span>
</div>

<section class="pls-iphone pls-iphone-slide-in">
    <div class="pls-iphone-wrapper">
        <img class="pls-iphone-status-bar" src="../images/status-bar.png" width="256.25px">
        <ul class="pls-iphone-bg">

            <li class="iphone-bg-1 pls-iphone-bg-sidebar"><img src="../images/slide-1.png" height="440px"></li>

            <li class="iphone-bg-2 pls-iphone-bg-sidebar"><img src="../images/slide-2.png" height="440px"></li>

            <li class="iphone-bg-3"><img src="../images/slide-3.png" height="440px"></li>

            <li class="iphone-bg-4"><img src="../images/slide-4.png" height="440px"></li>
        </ul>
    </div>
</section><!-- end pls-iphone -->

<section class="pls-slides">

    <ul class="pls-slide-inner">
        
        <li class="pls-slide-item" id="pls-slide-1">

            <p class="pls-text pls-text-mob">
                Partylisted is an <span class="pls-bold">exclusive</span> community of clubbing enthusiasts.
            </p>

            <p class="pls-text pls-text-mob">
                Through our Partylisted app you can:
            </p>

            <p class="pls-text pls-text-mob">
                - Book the best tables in seconds
                <br>
                - Join friends and promoters guestlists
                <br>
                - Select and prepay for drinks
            </p>

            <button class="pls-button pls-button-sneak-peak pls-button-demo-app">Take a sneak peak</button>

        </li><!-- end pls-slide-1 -->

        <li class="pls-slide-item" id="pls-slide-2">
            <p class="pls-text pls-text-mob">
                Sign up below and we will keep you posted when our app launches.
                <br>
                You can also invite 3 friends and prepick your username after you signup.
            </p>

            <form class="pls-user-signup-form">
                <input type="text" placeholder="Full name" id="pls-fullname-input" class="pls-textbox">
                <input type="text" placeholder="Email" id="pls-email-input" class="pls-textbox">
                <button type="submit" class="pls-button pls-button-sign-up">Sign up</button>
            </form>

            <div style="display:none;" class="pls-alert pls-alert-mob alert" id="no-email-input-alert">Please enter your email address.</div>
            <div style="display:none;" class="pls-alert pls-alert-mob alert" id="no-name-input-alert">Please enter your full name.</div>
            <div style="display:none;" class="pls-alert pls-alert-mob alert" id="no-email-name-input-alert">Please enter your email and full name.</div>
        </li><!-- end pls-slide-2 -->

        <li class="pls-slide-item" id="pls-slide-3">

            

            <div id="pls-invite">
                <p class="pls-text pls-text-mob">
                    Use the selector below to send an invite via Facebook to three friends.
                </p>
                <button class="pls-button pls-button-facebook">Next</button>
            </div>

            

            <form class="pls-username-form" style="display: none;">
                <input type="text" placeholder="Username" id="pls-username-input" class="pls-textbox">
                <button type="submit" class="pls-button pls-button-username">Pick name</button>
            </form>
            <div style="display:none;" class="pls-alert pls-alert-mob alert" id="no-username-input-alert">Please create a username.</div>
        </li>

        <li id="pls-slide-4">
            <p class="pls-text pls-text-mob">
                Thank you for signing up <span id="pls-name-placeholder"></span>, we will notify you about our launch date pretty soon.
            </p>
            <p class="pls-text pls-text-mob">
                You are <span class="pls-bold">awesome</span>! xx
            </p>
        </li>

    </ul><!-- end pls-slide-3 -->

</section><!-- end pls-slide -->

<footer class="pls-footer">
    <nav class="pls-footer-nav pls-footer-nav-site">
        <ul>
            <li class="pls-footer-static-link"><a href="/"><img class="logo" src="../images/logo.png" width="154.5px"></a></li>
            <li class="pls-footer-animated-link"><a href="#">CONTACT</a></li>
            <li class="pls-footer-animated-link"><a href="#">TERMS &amp CONDITIONS</a></li>
            <li class="pls-footer-animated-link"><a href="#">PRIVACY STATEMENT</a></li>
            <li class="pls-footer-static-link">© Partylisted 2013</li>
        </ul>
    </nav>
</footer>